<div id="gastos-energeticos">
  <div class="card-stnd">
    <div class="card">
      <div class="color card-top flex align-items-center justfy-content-center">
        <h4>Gastos <br> Energéticos </h4>
      </div>
      <div class=""></div>
      <div class="card-body">
        <div class="container">
          <form class="form-horizontal" [formGroup]="formularioPrincipal">
            <div class="row">

              <div class="col-md-4 mr-3">
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <label for="desc">Descrição*</label>
                    <textarea class="form-control note-editor note-editor-margin" formControlName="desc" id="desc"
                      cols="30" rows="10" maxlength="200" (input)="onInput()"></textarea>
                    <small>
                      Caracteres restantes
                      <span>{{ formularioPrincipal.get('desc').value === null ? 200 : 200 - formularioPrincipal.get('desc').value.length }}</span>
                    </small>
                    <app-error-msg [control]="formularioPrincipal.get('desc')" label="Descrição"></app-error-msg>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <label for="dataAtend">Data*</label>
                    <input type="text" class="form-control" placeholder="Data de Nascimento*"
                      formControlName="dataAtend" id="dataAtend" #dp="bsDatepicker" bsDatepicker
                       (input)="onInput()" [value]="formularioPrincipal.get('dataAtend').value?.toDate()  | date:'dd/MM/yyyy'">
                      <app-error-msg [control]="formularioPrincipal.get('dataAtend')" label="Data do antendimento"></app-error-msg>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label for="altura">Altura*</label>
                    <input type="text" class="form-control" formControlName="altura" id="altura" placeholder="metros"
                      [textMask]="{mask: mask, placeholderChar:' '}" (input)="onInput()">
                      <app-error-msg [control]="formularioPrincipal.get('altura')" label="Altura"></app-error-msg>
                  </div>
                  <div class="col-sm-6">
                    <label for="peso">Peso*</label>
                    <input type="text" class="form-control" formControlName="peso" id="peso" placeholder="quilos"
                      [textMask]="{mask: maskNumber, placeholderChar:' '}" (input)="onInput()">
                      <app-error-msg [control]="formularioPrincipal.get('peso')" label="Peso"></app-error-msg>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <label for="idade">Idade*</label>
                    <input type="text" class="form-control" formControlName="idade" id="idade" placeholder="anos"
                      [textMask]="{mask: maskNumber2, placeholderChar:' '}" (input)="onInput()">
                      <app-error-msg [control]="formularioPrincipal.get('idade')" label="Idade"></app-error-msg>
                  </div>
                </div>

              </div>

              <div class="col-md-7">

                <div class="row mb-3">
                  <div class="col-sm-12">
                    <label for="protocolo">Protocolo</label>
                    <select class="form-control" id="protocolo" formControlName="protocolo" (input)="onInput()">
                      <option *ngFor="let row of protocolosArray" [title]="row.title" [value]="row.value">
                        {{ row.label }}</option>
                    </select>
                    <small>{{ title }}</small>
                  </div>
                </div>

                <div class="row mb-3" *ngIf="nivelAtivArray.length > 0">
                  <div class="col-sm-12">
                    <label for="nivelAtiv">Nível de Atividade*</label>
                    <select class="form-control" id="nivelAtiv" formControlName="nivelAtiv" (input)="onInput()">
                      <option *ngFor="let row of nivelAtivArray" [value]="row.value">{{ row.label }}</option>
                    </select>
                    <app-error-msg [control]="formularioPrincipal.get('nivelAtiv')" label="Nível de atividade"></app-error-msg>
                  </div>
                </div>


                <div class="row mb-3" *ngIf="this.formularioPrincipal.controls.protocolo.value === '2'">
                  <div class="col-sm-12">
                    <label for="classificacao">Classificação*</label>
                    <select class="form-control" id="classificacao" formControlName="classificacao" (input)="onInput()">
                      <option value="0">Eutrófico</option>
                      <option value="1">Sobrepeso / Obeso</option>
                    </select>
                    <app-error-msg [control]="formularioPrincipal.get('classificacao')" label="Classificação"></app-error-msg>
                  </div>
                </div>

                <div class="row mb-3" *ngIf="this.formularioPrincipal.controls.protocolo.value === '3'">
                  <div class="col-sm-4">
                    <label for="massaMagra">Massa Magra*</label>
                    <input type="text" class="form-control" formControlName="massaMagra" id="massaMagra"
                      placeholder="quilos" [textMask]="{mask: maskNumber, placeholderChar:' '}" (input)="onInput()">
                      <app-error-msg [control]="formularioPrincipal.get('massaMagra')" label="Massa magra"></app-error-msg>
                  </div>
                </div>

                <div class="row my-4" *ngIf="nivelAtivArray.length > 0">
                  <div class="col-sm-6">
                    <label class="mr-3">TMB</label>
                    <ng-container *ngIf="TMB === 0 || TMB === NaN || TMB < 0; else elseTemplateTMB">
                      <label>-</label>
                    </ng-container>
                    <ng-template #elseTemplateTMB>
                      <label>{{ TMB | round }} Kcal</label>
                    </ng-template>
                  </div>

                  <div class="col-sm-6">
                    <label class="mr-3">GET</label>
                    <ng-container *ngIf="GET === 0 || GET === NaN || GET < 0; else elseTemplateGET">
                      <label>-</label>
                    </ng-container>
                    <ng-template #elseTemplateGET>
                      <label>{{ GET | round }} Kcal</label>
                    </ng-template>
                  </div>

                </div>

                <div class="row my-4" *ngIf="nivelAtivArray.length === 0">
                  <div class="col-sm-4">
                    <label>Perda de Peso:</label>
                  </div>
                  <div class="col-sm-8">
                    <label>{{ regraBolsoObj.perdaPeso }}</label>
                  </div>

                  <div class="col-sm-4">
                    <label class="mr-3">Manutenção de Peso:</label>
                  </div>
                  <div class="col-sm-8">
                    <label>{{ regraBolsoObj.manutPeso }}</label>
                  </div>

                  <div class="col-sm-4">
                    <label class="mr-3">Ganho de Peso:</label>
                  </div>
                  <div class="col-sm-8">
                    <label>{{ regraBolsoObj.ganhoPeso }}</label>
                  </div>
                </div>

                <hr *ngIf="nivelAtivArray.length > 0">

                <small *ngIf="nivelAtivArray.length > 0">
                  TMB - Taxa Metabólica Basal
                  <br>
                  GET - Gasto Energético Total
                </small>

                <hr>

                <div class="row mt-4">
                  <div class="col-sm-4">
                    <label for="gastoEnergFinal">Gasto Energético Final*</label>
                    <input type="text" class="form-control" formControlName="gastoEnergFinal" id="gastoEnergFinal"
                      placeholder="Kcal" [textMask]="{mask: maskNumber3, placeholderChar:' '}" (input)="onInput()">
                      <app-error-msg [control]="formularioPrincipal.get('gastoEnergFinal')" label="Gasto energético final"></app-error-msg>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer flex flex-end">
        <button (click)="onSubmit()" class="btn btn-primary mr-2">Salvar</button>
        <button class="btn btn-outline-danger" (click)="goToApp()">Cancelar</button>
      </div>
    </div>
  </div>
 </div>