<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light " id="pb-navbar">
  <div class="container">
    <a class="navbar-brand"><h6>NutriHealth</h6></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
      aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link">Suporte</a></li>
        <li [routerLink]="[ '/pages/auth/login' ]" class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link"><span class="pb_rounded-4 px-4">Login</span></a></li>
      </ul>
    </div>
  </div>
</nav>




<section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-white" id="section-home">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <h2 class="heading mb-3">Fly makes you faster</h2>
        <div class="sub-heading">
          <p class="mb-4">New free template by <a>uicookies.com</a>. For more templates visit the <a>site</a>. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p [routerLink]="[ '/pages/auth/register' ]"  class="mb-5"><a class="btn btn-success btn-lg pb_btn-pill smoothscroll"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">Registrar-se</span></a></p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5 relative align-self-center">

       <!--img src="/assets/img/"--> <p>image</p>

      </div>
    </div>
  </div>
</section>




<section class="pb_section bg-light mb-5" id="section-features">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center mb-5">
        <h2>App Features</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Minimal Design</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-speedometer-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Fast Loading</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Unlimited Possibilities</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-color-filter-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Component Based Design</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-wineglass-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Clean Code</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-paperplane-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Lightweight</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
