<div id="cards">
    <div class="row justify-content-around">
        <div class="card">
            <div class="color1 card-top flex align-items-center justfy-content-center">
                <h4>Anamneses</h4>
            </div>

            <div class="card-body">
                <a href="#" class="color1 btn btn-primary">+ Adicionar</a>
            </div>
        </div>

        <div class="card">
            <div class="color2 card-top flex align-items-center justfy-content-center">
                <h4>Avaliações <br> Antropométricas </h4>
            </div>

            <div class="card-body">
                <a href="#" class="color2 btn btn-primary">+ Adicionar</a>
            </div>
        </div>

        <div class="card">
            <div class="color3 card-top flex align-items-center justfy-content-center">
                <h4>Avaliações <br> Laboratoriais</h4>
            </div>

            <div class="card-body">
                <a href="#" class="color3 btn btn-primary" (click)="navigateTo('/aval-laboratoriais')">+ Adicionar</a>
            </div>
        </div>

        <div class="card">
            <div class="color4 card-top flex align-items-center justfy-content-center">
                <h4>Recordatórios <br> Alimentares</h4>
            </div>

            <div class="card-body">
                <a href="#" class="color4 btn btn-primary">+ Adicionar</a>
            </div>
        </div>

        <div class="card">
            <div class="color5 card-top flex align-items-center justfy-content-center">
                <h4>Gastos <br> Energéticos </h4>
            </div>

            <div class="card-body">
                <div class="panel">
                    <ol *ngIf="gastosEnergs$ | async as gastosEnergs">
                        <li *ngFor="let gastosEnerg of gastosEnergs"
                            (click)="navigateToById('/gastos-energeticos', gastosEnerg.id)">{{ gastosEnerg.id }}</li>
                    </ol>
                </div>
                <a href="#" class="color5 btn btn-primary" (click)="navigateTo('/gastos-energeticos')">+ Adicionar</a>
            </div>
        </div>

        <div class="card">
            <div class="color6 card-top flex align-items-center justfy-content-center">
                <h4>Planos <br> Alimentares </h4>
            </div>

            <div class="card-body">
                <div class="panel">
                    <ol *ngIf="planosAlim$ | async as planosAlims">
                        <li *ngFor="let planosAlim of planosAlims"
                            (click)="navigateToById('/planos-alimentares', planosAlim.id)">{{ planosAlim.id }}</li>
                    </ol>
                </div>
                <a href="#" class="color6 btn btn-primary" (click)="navigateTo('/planos-alimentares')">+ Adicionar</a>
            </div>
        </div>

        <div class="card">
            <div class="color7 card-top flex align-items-center justfy-content-center">
                <h4>Orientações <br> Nutricionais</h4>
            </div>

            <div class="card-body">
                <a href="#" class="color7 btn btn-primary">+ Adicionar</a>
            </div>
        </div>

        <div class="card">
            <div class="color8 card-top flex align-items-center justfy-content-center">
                <h4>Relatorios</h4>
            </div>

            <div class="card-body">
                <a href="#" class="color8 btn btn-primary">+ Adicionar</a>
            </div>
        </div>
    </div>
</div>