<div id="aval-laboratoriais">
  <div class="card-stnd">
    <div class="card">
      <div class="color card-top flex align-items-center justfy-content-center">
        <h4>Avaliações <br> Laboratoriais </h4>
      </div>
      <div class=""></div>
      <div class="card-body">

      </div>
      <div class="card-footer flex flex-end">
        <button class="btn btn-outline-danger mr-2">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>

      </div>
    </div>
  </div>
</div>